{% extends '::base1.html.twig' %}


{% block body %}


    <div class="container">

        <h1>This is going to be translated soon!</h1>

        <em>
            {#<p>Blog ID: {{ id }}.</p>#}
            <p>Extras: {{ extra }}.</p>
            <p>Your browser: {{ browser }}.</p>
        </em>

        <div class="row">
            {#{% for article in articles %}#}
                <div class="col-md-4">
                    <h2>{{ article.title }}</h2>
                    {#<p>{{ article.snippet | raw }}</p>#}
                    <p>{{ article.content }}</p>
                </div>
            {#{% endfor %}#}
        </div>
    </div>

{% endblock %}

